<div class="productList cartList">
    <img src="./Images/Bread.jpeg" class="cartImage">
    <div class="headingQuantity">
            <div class="heading">Butter</div> 
            <div class="quantities">
                <div class="quantity">Quantity</div>
                <div class="minus"> - </div>
                <div class="noOfQuantity">2</div>
                <div class="minus"> + </div>
            </div>
    </div>
    <div class="cartCost">$1.00</div>
</div>