<div class="productList">
          <div class="productItems">
            <img class="productImage" src="./Images/Bread.jpeg" />
            <div class="productDetail">
              <div class="heading">Whole French Bread</div>
              <div class="description">
                made in paris destined to the whole world
              </div>
            </div>
            <div class="productCost">
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="cost">$1.00</div>
            </div>
          </div>
          <button
            class="productButton">
            Add To Cart
          </button>
        </div>