body{
    /* background-color: rgb(100, 122, 122); */
}

.content{
    width:100%;
    display: flex;
    height: 100vh;
}
h1{
    margin-left: 15%;
}
.products{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width:50%;
    height: 100%;
    overflow:scroll;
    /* border: 5px solid red; */
}
.fa{
    color:rgb(255, 242, 0);
}
.checked{
    color: orange;
}
.cart{
    /* display: flex;
    justify-content: center; */
    width:48%;
    height: 100%;
    /* border: 5px solid red; */
    background-color: rgb(225, 222, 222);
}
.carts{
    /* width:50%; */
    height: 80%;
    overflow:scroll;
}
.productList{
    display: flex;
    border: 1px solid rgba(203, 199, 199, 0.504);
    box-shadow: 2px 2px rgba(106, 99, 99, 0.549);
    margin: 50px;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}
.productImage{
    width: 150px;
    height: 100px;
}
.productItems{
    display: flex;
    /* border: 2px solid black; */
    /* margin: 50px; */
    justify-content: space-between;
    flex-direction: row;
}

.productButton{
    background-color: rgb(34, 113, 192);
    width:max-content;
    padding: 12px 30px;
    margin:10px 20px 5px 70%;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: large;
    
}

.heading{
    font-weight: bold;
    font-size: large;
    margin: 10px;
}
.description{
    width: 70%;
    text-align: center;
}
.productCost{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.cost{
    font-size: xx-large;
}
.productButton:active{

    background-color: rgb(200, 255, 0);
    
    }
.cartList{
    /* display: flex;
    border: 2px solid black; */
    display: flex;
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
    justify-content: space-evenly;
    /* padding-bottom:60px; */
    border: none;
    border-bottom: 1px solid rgb(143, 137, 137);
}
.cartImage{
    width: 130px;
    height: 120px;
    border: 1px solid gray;
    border-radius: 500px;
}
.headingQuantity{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.heading{
    text-align: center;
}
.quantities{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-size: 20px;
}
.minus{
    font-size:25px ;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}
.plus{
    font-size:25px ;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.cartCost{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.carValue{
    display: none;
}
.total{
   height: 10%;
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    border-top: 3px solid black;
    align-items: center;
}